{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome To Codemy Ecommenrce...</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eleifend elit felis, vitae pretium neque venenatis id. Maecenas a pharetra enim, eget lacinia felis. Praesent eget dolor vulputate, laoreet augue in, gravida dolor. Vivamus feugiat ex non magna dictum, vel facilisis elit tristique. Cras nulla turpis, convallis vitae ex vitae, efficitur consequat risus. Donec posuere orci vel commodo aliquam. Ut leo magna, ultrices sit amet fringilla ut, sollicitudin sit amet odio.
                    <br/><br/>
                    Pellentesque euismod lectus sem. Maecenas ultricies mi eget risus pretium, eget convallis nisl tempus. Maecenas tempus non augue nec molestie. Vivamus pulvinar tortor quis odio dictum, at luctus nunc auctor. Nam hendrerit lacus vel ipsum pulvinar pretium. Vivamus fringilla nibh eget sodales tincidunt. Duis at lacus hendrerit, tempor leo nec, ullamcorper magna. Donec finibus orci enim, quis bibendum leo malesuada in. Maecenas posuere viverra bibendum. Curabitur libero ante, volutpat a enim nec, feugiat fermentum leo. Aliquam eget congue nisl, ultricies pretium mi. Mauris euismod sapien quis erat iaculis pharetra. Pellentesque a semper enim.
                </p>
                <br/><br/>
            </div>
        </center>
    </div>
</div>

{% endblock %}